.page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3d4da;
    margin: 0;
    font-family: Arial;
}

.box {
    background: #ec93b5;
    padding: 40px;
    border-radius: 10px;
    width: 350px;
}

.title {
    text-align: center;
    color: #000;
    margin-bottom: 30px;
}

/* ФОРМа*/
.group {
    margin-bottom: 20px;
}

.label {
    display: block;
    margin-bottom: 5px;
    color: #100d0d;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #140b0b;
    border-radius: 5px;
    box-sizing: border-box;
}

.input:focus {
    outline: none;
    border-color: #97396d;
}

/* КНОПКИ*/
.button {
    width: 100%;
    padding: 12px;
    background: #97396d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover:not(:disabled) {
    background: #7a2d57;
}

.button-back {
    background: #666;
    margin-top: 10px;
}

.button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* СООБЩЕНИЯ */
.message {
    margin-top: 15px;
    padding: 10px;
    background: #e9babe;
    color: #9e0414;
    border-radius: 5px;
    text-align: center;
}

.message.success {
    background: #4deb82;
    color: #0cab1c;
}

/* КОД (6 полей) */
.code-input-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
}

.code-input {
    width: 50px;
    height: 55px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid #140b0b;
    border-radius: 8px;
}

.code-input:focus {
    outline: none;
    border-color: #97396d;
}

.hint {
    font-size: 12px;
    color: #333;
    text-align: center;
    margin-top: 10px;
}

/* ПРОФИЛЬ*/
.profile-card {
    text-align: center;
}

.avatar-placeholder {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #97396d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    margin: 0 auto 20px;
}

.profile-info {
    margin: 20px 0;
}

.profile-info p {
    margin: 10px 0;
}

.logout-button {
    width: 100%;
    padding: 12px;
    background: #97396d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
